@import "../../../shared/styles/general.variables";
@import '../../../../../node_modules/@angular/material/theming';

:host {
  display: flex;
  flex-direction: column;
  border-top: $divider-border;
}

perfect-scrollbar {
  margin-top: 5px;
}

@mixin fixed-column-width($width) {
  width: $width;
  flex: 0 0 auto;
}

$cell-indent: 10px;

.mat-column-paid {
  @include fixed-column-width(50px);
}

.mat-column-date {
  @include fixed-column-width(75px);

  &.mat-header-cell {
    display: flex;
    justify-content: center;
  }
}

.mat-column-account {
  @include fixed-column-width(125px);
}

.mat-column-mfo {
  @include fixed-column-width(60px);
}

.mat-column-edrpou {
  @include fixed-column-width(80px);
}

.mat-column-sum {
  @include fixed-column-width(80px);

  &.mat-cell {
    padding-right: $cell-indent;
    justify-content: flex-end;
    box-sizing: border-box;
  }
}

.mat-column-identityCode,
.mat-column-passport {
  @include fixed-column-width(90px);
}
.mat-column-kfk,
.mat-column-kek {
  @include fixed-column-width(60px);
}

.sp-history-table-row {
  &:hover {
    cursor: pointer;
    background-color: mat-color($mat-indigo, 50);
  }
}
