<form class="sp-financial-institution-container"
  #autocompleteContainer
  [formGroup]="form">
  <mat-form-field class="sp-financial-field sp-financial-mfo">
    <input matInput
      type="text"
      formControlName="mfo"
      placeholder="Код МФО"
      mask="000000">
  </mat-form-field>

  <mat-form-field class="sp-financial-field sp-financial-edrpou">
    <input matInput
      formControlName="edrpou"
      placeholder="Код ЄДРПОУ">
  </mat-form-field>

  <mat-form-field class="sp-financial-field sp-financial-name">
    <input matInput
      formControlName="name"
      placeholder="Назва">
  </mat-form-field>

  <input class="sp-autocomplete-trigger"
    [matAutocomplete]>
  <mat-autocomplete>
    <perfect-scrollbar [config]="{minScrollbarLength: 60}" >
      <mat-option *ngFor="let item of financialInstitutionsFiltered | async">
        {{item.mfo}} | {{item.edrpou}} | {{item.name}}
      </mat-option>
    </perfect-scrollbar>
  </mat-autocomplete>
</form>
