@import '~@angular/material/theming';

:host {
  display: flex;
  width: 100%;

  ::ng-deep .sp-tabbed-item-inserted {
    display: flex;
    width: calc(100% - 4px);
    margin-left: 2px;
    height: calc(100% - 2px);

    > mat-card {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

.sp-actions-menu {
  width: 100%;

  .sp-mat-sidenav {
    padding: 0 12px;
    background-color: mat-color($mat-gray, 100);
  }
}

.sp-content {
  .sp-container {
    height: 100%;
    box-sizing: border-box;
  }

  .sp-tab-group {
    height: 100%;

    ::ng-deep {
      .mat-tab-body-wrapper {
        flex: 1 0 0;
      }
      .mat-tab-body-content {
        overflow: hidden;
      }
    }
  }
}

.sp-tab-label {
  display: flex;
  align-items: center;

  .sp-tab-label-text {
    margin-left: 1em;
  }
}
