<mat-accordion class="sp-filter-toggle">
  <mat-expansion-panel [(expanded)]="filterPanelExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title>Фільтр:</mat-panel-title>

      <mat-panel-description>
          <sp-filter-chip *ngFor="let chip of filterChips"
            [text]="chip.text"
            [title]="chip.title"
            [filterType]="chip.type"
            (close)="onChipClose($event)"></sp-filter-chip>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <section class="sp-search-inputs" [formGroup]="searchForm">
      <div class="sp-search-container">
        <div class="sp-period-select-container" formGroupName="datesRange">
          <span class="sp-search-container-label">Дата:</span>

          <mat-form-field class="sp-date-period-from">
            <input matInput
              formControlName="dateFrom"
              autocomplete="off"
              placeholder="з"
              [max]="searchForm.get('datesRange.dateTo').value"
              [matDatepicker]="fromDateCmp">
            <mat-datepicker-toggle matSuffix
              [for]="fromDateCmp"></mat-datepicker-toggle>
            <mat-datepicker #fromDateCmp></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="sp-date-period-to">
            <input matInput
              formControlName="dateTo"
              autocomplete="off"
              placeholder="по"
              [min]="searchForm.get('datesRange.dateFrom').value"
              [matDatepicker]="toDateCmp">
            <mat-datepicker-toggle matSuffix
              [for]="toDateCmp"></mat-datepicker-toggle>
            <mat-datepicker #toDateCmp></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="sp-codes-container">
          <sp-code-kfk></sp-code-kfk>
          <sp-code-kek></sp-code-kek>
        </div>
      </div>

      <div class="sp-search-container">
        <span class="sp-search-container-label">Одержувач:</span>
        <sp-person [autocompleteClasses]="autocompleteClasses"
          [renderClearButton]="false"
          [renderAddressFields]="false"
          [renderValidationErrors]="false"></sp-person>
      </div>

      <div class="sp-search-container">
        <span class="sp-search-container-label">Фінансова установа:</span>
        <sp-financial-institution [autocompleteClasses]="autocompleteClasses"
          [renderClearButton]="false"
          [renderValidationErrors]="false"></sp-financial-institution>
      </div>

      <section class="sp-search-section">
        <div class="sp-search-container sp-sum-diapason-container" formGroupName="sumRange">
          <span class="sp-search-container-label">Сума:</span>

          <mat-form-field>
            <input formControlName="sumFrom"
              matInput
              type="number"
              autocomplete="off"
              placeholder="від">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="sumTo"
              matInput
              type="number"
              autocomplete="off"
              placeholder="до">
          </mat-form-field>
        </div>

        <div class="sp-search-container sp-search-phrase-container">
          <span class="sp-search-container-label">Призначення платежу:</span>

          <mat-form-field>
            <input matInput
              formControlName="description"
              autocomplete="off"
              placeholder="Введіть фразу для пошуку">
          </mat-form-field>
        </div>
      </section>
    </section>

    <section class="sp-search-action">
      <button
        title="Пошук (Enter)"
        mat-raised-button
        color="primary"
        [disabled]="searchForm.errors && searchForm.errors['searchFormEmpty']"
        (click)="onSearchClick()">
        <mat-icon aria-label="Search history icon">search</mat-icon>
      </button>
    </section>
  </mat-expansion-panel>
</mat-accordion>
