@import "../../../shared/styles/general.variables";
@import "../../../shared/styles/mixins";

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

:host {
  display: flex;
  justify-content: space-between;
}

.sp-filter-toggle {
  width: 100%;

  ::ng-deep {
    .mat-expansion-panel-header-title {
      align-items: center;
      flex: 0 0 auto;
    }

    .mat-expansion-panel-body {
      display: flex;
    }
  }
}

::ng-deep {
  .sp-payments-history-autocomplete {
    .mat-option-text {
      display: flex;
    }

    .sp-fi-mfo {
      @include flex-width(128px);
    }

    .sp-fi-edrpou {
      @include flex-width(200px);
    }
  }
}

.sp-search-inputs {
  flex: 1;
}

.sp-search-action {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: $input-inline-indent;
}

.sp-search-section {
  @include flex-wrap;

  justify-content: flex-start;
}

.sp-search-container {
  @include flex-wrap;

  align-items: center;

  > mat-form-field:not(:last-child) {
    margin-right: $input-inline-indent;
  }

  .sp-search-container-label {
    flex: 0 0 auto;
    margin-right: $input-inline-indent;
  }
}

.sp-period-select-container {
  margin-right: $input-inline-indent * 2;

  > mat-form-field {
    margin-right: $input-inline-indent;
    width: 189px;
  }
}

.sp-codes-container > * {
  margin-right: $input-inline-indent;
  width: 132px;
}

sp-financial-institution {
  flex: 1;

  ::ng-deep {
    .sp-financial-institution-container {
      display: flex;
    }

    .sp-financial-field:not(:last-of-type) {
      margin-right: $input-inline-indent;
      flex: 0 0 auto;
    }

    .sp-financial-mfo .mat-form-field-infix {
      width: 113px;
    }

    .sp-financial-name {
      flex: 1;
    }
  }
}

sp-person {
  flex: 1;

  ::ng-deep {
    .sp-person-inputs {
      position: static;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .sp-person-documents-info {
      flex: 0 0 auto;
      order: 2;
      margin-left: $input-inline-indent;
    }

    .sp-passport-number .mat-form-field-infix {
      width: 163px;
    }

    .sp-person-full-name {
      flex: 1;
      order: 1;
    }
  }
;
}

.sp-sum-diapason-container {
  flex: 0 0 auto;
  margin-right: $input-inline-indent;

  ::ng-deep .mat-form-field-infix {
    width: 89px;
  }
}

.sp-search-phrase-container {
  flex: 1;
  flex-wrap: nowrap;

  mat-form-field {
    flex: 1;
  }
}
