:host {
  display: block;
  height: 100%;
}

mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  mat-card-title {
    flex: 0 0 auto;
  }

  perfect-scrollbar {
    flex: 1;
  }
}
