<mat-card>
  <mat-card-title>Останні платежі:</mat-card-title>

  <perfect-scrollbar>
    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let payment of latestPaymentsService.items$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{moment(payment.date).format(displayDateFormat)}}
          </mat-panel-title>

          <mat-panel-description>
            {{payment.person.fullName}}: {{payment.sum}}грн. {{payment.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <section>
          <p>{{payment.financialInstitution.name}}</p>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
  </perfect-scrollbar>
</mat-card>
