.sp-payments-history-table {
  flex: 1;
}

.sp-payments-history-message,
.sp-payments-history-loading {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sp-payments-history-filter {
  flex: 0 0 auto;
}

