@import '~@angular/material/theming';
@import '../../shared/styles/general.variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sp-top-panel {
  box-shadow: 0 0 $shadow-size mat-color($mat-gray, 900);

  .sp-nav {
    .sp-nav-link {
      margin-right: 1em;
    }
  }
}

.sp-body {
  flex: 1;
  display: flex;
  margin-top: 6px;

  ::ng-deep > {
    * {
      flex: 1;
    }

    router-outlet {
      display: none;
    }
  }
}
