<mat-divider></mat-divider>

<perfect-scrollbar>
  <mat-table [dataSource]="dataSource"
    matSort
    [trackBy]="paymentsTrackFn">

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Дата платежу</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="account">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Особовий рахунок</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.accountNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="bankName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Найменування банку</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.financialInstitution.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mfo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Код МФО</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.financialInstitution.mfo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edrpou">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Код ЄДРПОУ</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.financialInstitution.edrpou}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sum">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Сума виплат</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sum}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Прізвище, ім'я, по батькові</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.person.fullName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="identityCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ідентифікаціний код</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.person.identityCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="passport">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Серія та № паспорта</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.person.passportNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Адреса реєстрації</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.person.address.street}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Призначення платежу</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
    </ng-container>

    <mat-header-row #tableHeader
      *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</perfect-scrollbar>

<mat-paginator
  [pageSizeOptions]="[10, 20, 50, 100]"
  showFirstLastButtons></mat-paginator>
