$border-radius: 3px;

$input-inline-indent: 20px;
$input-block-indent: 1em;

$divider-border: 1px solid rgba(0,0,0,.12);

$shadow-size: 10px;

$card-indent: 24px;

$grey-text: rgba(0,0,0,.54);
$toolbar-height: 30px;
$loading-indicator-index: 1000;
