@import "../../shared/styles/general.variables";

.sp-paid-action-content {
  margin-top: $input-block-indent;
}

.sp-report-number,
.sp-datepicker {
  width: 210px;
  margin-right: $input-inline-indent * 2;
}

.sp-request-items,
.sp-filter-caption,
mat-radio-button {
  margin-right: $input-inline-indent * 2;
}

.sp-inputs-container {
  display: flex;
  margin-bottom: $input-block-indent;
}

.sp-total-result-filter {
  display: flex;
  padding: $input-block-indent 0;
}

.sp-total-result-caption {
  margin-left: $input-inline-indent * 2;
  display: flex;
  align-items: center;
}

.sp-total-result-caption,
.sp-filter-caption {
  font-size: 14px;
}

.sp-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
