<form class="sp-person-container"
  [formGroup]="form">
  <mat-form-field class="sp-person-full-name">
    <input matInput
      formControlName="fullName"
      placeholder="Прізвище, ім'я, по батькові">
  </mat-form-field>

  <div class="sp-person-documents-info">
    <mat-form-field class="sp-passport-number">
      <input matInput
        formControlName="passportNumber"
        placeholder="Серія та номер паспорта">
    </mat-form-field>

    <mat-form-field class="sp-identity-code">
      <input matInput
        formControlName="identityCode"
        placeholder="Ідентифікаційний код">
    </mat-form-field>
  </div>

  <div class="sp-address"
    formGroupName="address">
    <mat-form-field class="sp-street">
      <input matInput
        formControlName="street"
        placeholder="Вулиця">
    </mat-form-field>

    <mat-form-field class="sp-house">
      <input matInput
        formControlName="house"
        placeholder="Будинок">
    </mat-form-field>

    <mat-form-field class="sp-house-section">
      <input matInput
        formControlName="houseSection"
        placeholder="Корпус">
    </mat-form-field>

    <mat-form-field class="sp-apartment">
      <input matInput
        formControlName="apartment"
        placeholder="Квартира">
    </mat-form-field>
  </div>

  <input class="sp-autocomplete-trigger" [matAutocomplete]>
  <mat-autocomplete class="sp-autocomplete-panel"
    (optionSelected)="onAutocompleteItemSelected($event)">
    <perfect-scrollbar [config]="{minScrollbarLength: 60}" >
      <mat-option *ngFor="let item of personsFiltered | async"
        class="sp-autocomplete-option"
        [value]="item">

        <span class="sp-autocomplete-item sp-fi-mfo">{{item.fullName}}</span>
      </mat-option>
    </perfect-scrollbar>
  </mat-autocomplete>
</form>
