<section class="sp-person-container"
  [formGroup]="form">

  <div *ngIf="renderClearButton" class="sp-person-reset">
    <button mat-button
      title="Очисти всі поля"
      [disabled]="allFieldsEmtpy"
      (click)="reset()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="sp-person-inputs">
    <mat-form-field class="sp-person-full-name">
      <input matInput
        autocomplete="off"
        formControlName="fullName"
        placeholder="Прізвище, ім'я, по батькові"
        [spProxyAutocompleteCommands]="autocomplete">
      <mat-error *ngIf="renderValidationErrors && fullName.invalid && fullName.hasError('required')">Введіть прізвище, ім'я, по батькові</mat-error>
    </mat-form-field>

    <div class="sp-person-documents-info">
      <mat-form-field class="sp-passport-number">
        <input matInput
          autocomplete="off"
          formControlName="passportNumber"
          placeholder="Серія та номер паспорта"
          [spProxyAutocompleteCommands]="autocomplete">
        <mat-error *ngIf="renderValidationErrors && passportNumber.invalid && passportNumber.hasError('required')">Введіть cерію та номер паспорта</mat-error>
      </mat-form-field>

      <mat-form-field class="sp-identity-code">
        <input matInput
          autocomplete="off"
          formControlName="identityCode"
          placeholder="Ідентифікаційний код"
          [spProxyAutocompleteCommands]="autocomplete">
        <mat-error *ngIf="renderValidationErrors && identityCode.invalid && identityCode.hasError('required')">Введіть ідентифікаційний код</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="renderAddressFields"
      class="sp-address"
      formGroupName="address">
      <mat-form-field class="sp-street"
        formGroupName="street">
        <input matInput
          autocomplete="off"
          formControlName="name"
          placeholder="Вулиця"
          [matAutocomplete]="streetsAutocomplete">
        <mat-autocomplete autoActiveFirstOption
          #streetsAutocomplete="matAutocomplete"
          (optionSelected)="streetSelected($event)">
          <perfect-scrollbar [config]="{minScrollbarLength: 60}" >
            <mat-option *ngFor="let street of steetsFiltered$ | async" [value]="street">
              {{street.name}}
            </mat-option>
          </perfect-scrollbar>
        </mat-autocomplete>
        <mat-error *ngIf="renderValidationErrors && streetName.invalid && streetName.hasError('required')">Введіть назву вулиці</mat-error>
      </mat-form-field>

      <mat-form-field class="sp-house">
        <input matInput
          autocomplete="off"
          formControlName="house"
          placeholder="Будинок">
        <mat-error *ngIf="renderValidationErrors && house.invalid && house.hasError('required')">Введіть номер будинку</mat-error>
      </mat-form-field>

      <mat-form-field class="sp-house-section">
        <input matInput
          autocomplete="off"
          formControlName="houseSection"
          placeholder="Корпус">
      </mat-form-field>

      <mat-form-field class="sp-apartment">
        <input matInput
          formControlName="apartment"
          placeholder="Квартира">
      </mat-form-field>
    </div>

    <sp-multifield-autocomplete #autocomplete
      [renderAutocomplete]="renderAutocomplete"
      [autocompleteClasses]="autocompleteClasses"
      [items]="personService.getData() | async"
      [filter$]="personAutocompleteFilter$"
      (itemSelected)="onAutocompleteItemSelected($event)">
      <ng-template let-item>
        {{item.fullName}},
        {{item.passportNumber}},
        {{item.identityCode}},
        {{getPersonAddress(item.address)}}
      </ng-template>
    </sp-multifield-autocomplete>
  </div>
</section>
