<form class="sp-person-container"
  [formGroup]="form">
  <mat-form-field class="sp-person-full-name">
    <input matInput
      formControlName="fullName"
      placeholder="Прізвище, ім'я, по батькові">
  </mat-form-field>

  <div class="sp-person-documents-info">
    <mat-form-field class="sp-passport-number">
      <input matInput
        formControlName="passportNumber"
        placeholder="Серія та номер паспорта"
        [textMask]="{mask: passportMask}">
    </mat-form-field>

    <mat-form-field class="sp-identity-code">
      <input matInput
        formControlName="identityCode"
        placeholder="Ідентифікаційний код"
        [textMask]="{mask: identityCodeMask}">
    </mat-form-field>
  </div>

  <div class="sp-address"
    formGroupName="address">
    <mat-form-field class="sp-street">
      <input matInput
        formControlName="street"
        placeholder="Вулиця">
    </mat-form-field>

    <mat-form-field class="sp-house">
      <input matInput
        formControlName="house"
        placeholder="Будинок">
    </mat-form-field>

    <mat-form-field class="sp-house-section">
      <input matInput
        formControlName="houseSection"
        placeholder="Корпус">
    </mat-form-field>

    <mat-form-field class="sp-apartment">
      <input matInput
        formControlName="apartment"
        placeholder="Квартира">
    </mat-form-field>
  </div>
</form>
