<h2 matDialogTitle>Користувач</h2>

<mat-dialog-content>
  <mat-form-field>
    <input [formControl]="login"
      matInput
      name="login"
      type="text"
      placeholder="Логін"
      required>
    <mat-hint>Латинські літери та цифри</mat-hint>
    <mat-error *ngIf="login.invalid && login.hasError('required')">Введіть логін</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input [formControl]="fullName"
      matInput
      name="fullName"
      type="text"
      placeholder="Повне ім'я"
      required>
    <mat-error *ngIf="fullName.invalid && fullName.hasError('required')">Введіть повне ім'я користувача</mat-error>
    <mat-hint>Прізвище, ім'я, по батькові</mat-hint>
  </mat-form-field>

  <mat-form-field *ngIf="!showResetPasswordButton">
    <input
      [formControl]="password"
      matInput
      name="password"
      type="password"
      placeholder="Пароль"
      required>
    <mat-error *ngIf="password.invalid && password.hasError('required')">Введіть пароль</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="!showResetPasswordButton">
    <input [formControl]="repeatPassword"
      matInput
      name="repeatPassword"
      type="password"
      placeholder="Повторіть пароль"
      required
      [errorStateMatcher]="repeatPasswordMatcher">
      <mat-error *ngIf="repeatPassword.invalid && repeatPassword.hasError('required')">Введіть пароль повторно</mat-error>
      <mat-error *ngIf="repeatPassword.invalid && repeatPassword.hasError('matchError')">Паролі не співпадають</mat-error>
  </mat-form-field>

  <div class="sp-reset-password">
    <button *ngIf="showResetPasswordButton"
      mat-raised-button
      (click)="onResetButton()"
      color="primary">Встановити пароль</button>
  </div>

  <div class="sp-is-admin">
    <mat-checkbox [formControl]="isAdmin">Адміністратор</mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button
    [disabled]="isSaveDisabled()"
    [matDialogClose]="saveUserChanges()"
    color="primary">Зберегти</button>

  <button mat-raised-button
    matDialogClose
    color="basic">Відміна</button>
</mat-dialog-actions>
