@import "../shared/styles/general.variables";

:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: lightgray;

  .sp-form {
    flex: 0;
    padding: 40px;
    text-align: center;
    border-radius: $border-radius;
    background-color: white;

    button {
      margin-top: 10px;
    }
  }

  .sp-header {
    margin-top: 0;
  }
}

::ng-deep .sp-login-error-alert {
  height: 290px;
  width: 350px;

  mat-dialog-container {
    padding: 50px;
  }
}
