<input #autocompleteTrigger
  class="sp-autocomplete-trigger"
  [matAutocomplete]>

<mat-autocomplete autoActiveFirstOption
  [class]="'sp-autocomplete-panel ' + (autocompleteClasses || '')"
  (optionSelected)="itemSelected.emit($event)">

  <perfect-scrollbar *ngIf="renderAutocomplete" [config]="defaultPerfectScrollbarConfig" >
    <mat-option *ngFor="let item of filteredItems | async"
      class="sp-autocomplete-option"
      [value]="item">

      <ng-container *ngTemplateOutlet="template; context: {$implicit: item}"></ng-container>
    </mat-option>
  </perfect-scrollbar>
</mat-autocomplete>
