@import '~@angular/material/theming';
@import 'app/shared/styles/_general.variables.scss';

// ***
// ***
// ***
// typography

//  display-4, display-3, display-2 and display-1 - Large, one-off headers, usually at the top of the page (e.g. a hero header).
// headline - Section heading corresponding to the <h1> tag.
// title - Section heading corresponding to the <h2> tag.
// subheading-2 - Section heading corresponding to the <h3> tag.
// subheading-1 - Section heading corresponding to the <h4> tag.
// body-1 - Base body text.
// body-2 - Bolder body text.
// caption - Smaller body and hint text.
// button - Buttons and anchors.
// input - Form input fields.
$custom-typography: mat-typography-config(
  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(48px, 48px, 300),
  $display-3:     mat-typography-level(36px, 36px, 400),
  $display-2:     mat-typography-level(28px, 30px, 400),
  $display-1:     mat-typography-level(22px, 24px, 400),
  $headline:      mat-typography-level(20px, 22px, 400),
  $title:         mat-typography-level(18px, 20px, 500),
  $subheading-2:  mat-typography-level(14px, 16px, 400),
  $subheading-1:  mat-typography-level(14px, 16px, 400),
  $body-2:        mat-typography-level(12px, 12px, 500),
  $body-1:        mat-typography-level(12px, 12px, 400),
  $caption:       mat-typography-level(12px, 12px, 400),
  $button:        mat-typography-level(12px, 18px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// ***
// ***
// ***
// layout

.sp-app-body {
  // general
  .sp-zero-indent {
    padding: 0;
  }

  mat-card {
    padding: 14px;
  }

  // icons
  $small-icons-size: 18px;
  .sp-small-icon {
    $size: $small-icons-size;

    font-weight: 600;
    font-size: $size;
    width: $size;
    height: $size;
  }

  .mat-datepicker-toggle {
    font-size: $small-icons-size;
  }


  // autocomplete active item
  .mat-option {
    &.mat-active, &:hover {
      background: rgba(0,0,0,.08);
    }
  }

  .sp-autocomplete-option {
    padding: 0 5px;
  }


  // toolbar
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: $toolbar-height;

    .mat-button {
      line-height: $toolbar-height;
    }
  }

  //sidenav
  .mat-sidenav {
    .mat-nav-list {
      .mat-list-item {
        height: 36px;
      }
    }
  }

  // tabs
  .mat-tab-group {
    .mat-tab-label {
      height: 36px;

      &.mat-tab-label-active {
        // icons bold only on focus, fix to be bold for activated tabs
        opacity: 1;
      }
    }
  }

  // table
  mat-header-row {
    min-height: 26px;
  }

  mat-row {
    min-height: 16px;
  }

  $table-cell-padding: 3px;

  mat-cell {
    padding-top: $table-cell-padding;
    padding-bottom: $table-cell-padding;
  }

  $table-indent: 10px;

  mat-cell:first-of-type,
  mat-footer-cell:first-of-type,
  mat-header-cell:first-of-type {
    padding-left: $table-indent;
  }

  mat-cell:last-of-type,
  mat-footer-cell:last-of-type,
  mat-header-cell:last-of-type {
    padding-right: $table-indent;
  }

  mat-checkbox .mat-checkbox-label {
    line-height: 24px;
  }
}
