/* You can add global styles to this file, and also import other style files */
@import './material';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Roboto", "Open Sans", Helvetica, Arial, sans-serif;
}

.sp-flex {
  display: flex;
}

.sp-align {
  align-items: center;
}

.sp-justify {
  justify-content: center;
}

.sp-justify-sb {
  justify-content: space-between;
}
