@import '~@angular/material/theming';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sp-top-panel {
  height: 4em;
  color: white;
  background-color: mat-color($mat-indigo, 500);
  align-items: center;
  display: flex;
  flex: 0 0 auto;

  nav {
    button {
      margin: 0 1em;
    }
  }
}

.sp-body {
  flex: 1;
  display: flex;

  router-outlet {
    display: none;
  }

  ::ng-deep > * {
    flex: 1;
  }
}
