<div class="sp-glass"></div>

<div class="sp-info-layer">
  <div class="sp-progress-items">
    <div *ngFor="let item of progressItems"
      class="sp-progress-item">
        <mat-icon [attr.status]="item.status">{{item.status}}</mat-icon>
        <h3>{{item.caption}}</h3>
    </div>
  </div>
</div>

<div class="sp-progress-layer">
  <div class="sp-progress-container">
    <div class="sp-progress-line" [style.width]="progress + '%'"></div>
    <div class="sp-progress-line-bg"></div>
  </div>
</div>
