<mat-card class="sp-payment-card"
  [formGroup]="form">
  <div class="sp-payment-header">
    <mat-card-title>
      Новий платіж
    </mat-card-title>
    <mat-divider></mat-divider>
  </div>

  <perfect-scrollbar class="sp-payment-body">
    <mat-card-content class="sp-payment-content">
      <mat-form-field>
        <input matInput
          name="date"
          formControlName="date"
          placeholder="Дата виплати"
          [matDatepicker]="paymentDatepicker">
        <mat-datepicker-toggle matSuffix
          [for]="paymentDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #paymentDatepicker></mat-datepicker>
      </mat-form-field>

      <div class="sp-payment-section">
        <h4 class="sp-caption">Одержувач</h4>
        <sp-person></sp-person>
      </div>

      <div class="sp-payment-section">
        <h4 class="sp-caption">Фінансова установа</h4>
        <sp-financial-institution></sp-financial-institution>
      </div>

      <div class="sp-payment-details">
        <div class="sp-payment-num-sum-block">
          <mat-form-field>
            <input matInput
              formControlName="accountNumber"
              placeholder="Номер особового рахунку">
          </mat-form-field>

          <mat-form-field>
            <input matInput
              type="number"
              formControlName="sum"
              placeholder="Сума платежу">
          </mat-form-field>
        </div>

        <div class="sp-payment-description-block">
          <mat-form-field class="sp-payment-description">
          <textarea matInput
            formControlName="description"
            placeholder="Призначення платежу"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </perfect-scrollbar>

  <div class="sp-payment-footer">
    <mat-divider></mat-divider>

    <mat-card-actions class="sp-payment-actions">
      <button class="sp-payment-save"
        mat-raised-button
        color="primary"
        (click)="onSaveClick()">Зберегти
      </button>
      <button mat-raised-button>Відміна</button>
    </mat-card-actions>
  </div>
</mat-card>
