<mat-card class="sp-payment-card"
  [formGroup]="form">
  <div class="sp-payment-header">
    <mat-card-title>
      Новий платіж
    </mat-card-title>
    <mat-divider></mat-divider>
  </div>

  <perfect-scrollbar class="sp-payment-body">
    <mat-card-content class="sp-payment-content">
      <div>
        <mat-form-field>
          <input #dateInput
            matInput
            name="date"
            formControlName="date"
            autocomplete="off"
            placeholder="Дата рішення"
            [matDatepicker]="paymentDatepicker">
          <mat-datepicker-toggle matSuffix
            [for]="paymentDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #paymentDatepicker></mat-datepicker>
          <mat-error *ngIf="form.controls.date.invalid && form.controls.date.hasError('required')">Введіть дату платежу</mat-error>
        </mat-form-field>

        <mat-form-field class="sp-report-number">
          <input matInput
            formControlName="reportNumber"
            autocomplete="off"
            placeholder="Номер рішення">
          <mat-error *ngIf="form.controls.reportNumber.invalid && form.controls.reportNumber.hasError('required')">Введіть номер рішення</mat-error>
        </mat-form-field>

      </div>

      <div class="sp-payment-section">
        <h4 class="sp-caption">Одержувач</h4>
        <sp-person [renderAutocomplete]="renderAutocomplete"
          [autocompleteClasses]="autocompleteClasses"
          (idChange)="onPersonIdChange($event)"></sp-person>
      </div>

      <div class="sp-payment-section sp-financial-institution">
        <h4 class="sp-caption">Фінансова установа</h4>
        <sp-financial-institution [renderAutocomplete]="renderAutocomplete"
          [autocompleteClasses]="autocompleteClasses"
          [id]="financialInstitutionId"
          (idChange)="onFinancialInstitutionIdChange($event)"
          class="sp-financial-institution"></sp-financial-institution>
      </div>

      <div class="sp-payment-details">
        <div class="sp-payment-num-sum-block">
          <mat-form-field>
            <input matInput
              formControlName="accountNumber"
              autocomplete="off"
              placeholder="Номер особового рахунку">
            <mat-error *ngIf="form.controls.accountNumber.invalid && form.controls.accountNumber.hasError('required')">Введіть номер особового рахунку</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input #sumInput
              matInput
              type="number"
              formControlName="sum"
              autocomplete="off"
              placeholder="Сума платежу">
            <mat-error *ngIf="form.controls.sum.invalid && form.controls.sum.hasError('required')">Введіть суму платежу</mat-error>
          </mat-form-field>
        </div>

        <div class="sp-payment-description-block">
          <mat-form-field class="sp-payment-description">
          <textarea matInput
            formControlName="description"
            autocomplete="off"
            placeholder="Призначення платежу"></textarea>
            <mat-error *ngIf="form.controls.description.invalid && form.controls.description.hasError('required')">Введіть призначення платежу</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="sp-payment-codes">
        <sp-code-kfk></sp-code-kfk>
        <sp-code-kek></sp-code-kek>
      </div>

      <mat-checkbox class="sp-payment-paid"
        [labelPosition]="'before'"
        [checked]="form.controls.paid.value"
        (change)="form.controls.paid.setValue($event.checked)">Оплачено:</mat-checkbox>
    </mat-card-content>
  </perfect-scrollbar>

  <div class="sp-payment-footer">
    <mat-divider></mat-divider>

    <mat-card-actions class="sp-payment-actions">
      <div>
        <button class="sp-payment-save"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
          (click)="onSaveClick()">Зберегти
        </button>
        <button mat-raised-button
          (click)="onCancelClick()">Відміна</button>      </div>

      <button mat-raised-button color="accent" *ngIf="editMode" (click)="removePayment()">Видалити</button>
    </mat-card-actions>
  </div>
</mat-card>
